In [6]:
print("Welcome to Pandas")

Welcome to Pandas

In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\karth\\Downloads\\Import_User_Sample_en.csv')
df

,User Name,First Name,Last Name,Display Name,Job Title,Department,Office Number,Office Phone,Mobile Phone,Fax,Address,City,State or Province,ZIP or Postal Code,Country or Region
0,chris@contoso.com,Chris,Green,Chris Green,IT Manager,Information Technology,123451,123-555-1211,123-555-6641,123-555-9821,1 Microsoft way,Redmond,Wa,98052,United States
1,ben@contoso.com,Ben,Andrews,Ben Andrews,IT Manager,Information Technology,123452,123-555-1212,123-555-6642,123-555-9822,1 Microsoft way,Redmond,Wa,98052,United States
2,david@contoso.com,David,Longmuir,David Longmuir,IT Manager,Information Technology,123453,123-555-1213,123-555-6643,123-555-9823,1 Microsoft way,Redmond,Wa,98052,United States
3,cynthia@contoso.com,Cynthia,Carey,Cynthia Carey,IT Manager,Information Technology,123454,123-555-1214,123-555-6644,123-555-9824,1 Microsoft way,Redmond,Wa,98052,United States
4,melissa@contoso.com,Melissa,MacBeth,Melissa MacBeth,IT Manager,Information Technology,123455,123-555-1215,123-555-6645,123-555-9825,1 Microsoft way,Redmond,Wa,98052,United States

In [2]:
df['Department']

0    Information Technology
1    Information Technology
2    Information Technology
3    Information Technology
4    Information Technology
Name: Department, dtype: object

In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\karth\\Downloads\\temperature1.csv")
df

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow
3  01-04-2023           24          7   Snow
4  01-05-2023           32          4   Rain
5  01-06-2023           32          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
df.head()

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow
3  01-04-2023           24          7   Snow
4  01-05-2023           32          4   Rain

In [6]:
df.head(2)

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny

In [7]:
df.tail(1)

          day  temperature  windspeed  event
5  01-06-2023           32          2  Sunny

In [11]:
df[5:2:-1]

          day  temperature  windspeed  event
5  01-06-2023           32          2  Sunny
4  01-05-2023           32          4   Rain
3  01-04-2023           24          7   Snow

In [27]:
df[['day','event']][df.temperature==df['temperature'].max()]

          day  event
1  01-02-2023  Sunny

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
df.set_index('event')

              day  temperature  windspeed
event
Rain   01-01-2023           32          6
Sunny  01-02-2023           35          7
Snow   01-03-2023           28          2
Snow   01-04-2023           24          7
Rain   01-05-2023           32          4
Sunny  01-06-2023           32          2